<!-- src/pages/index.astro -->
---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Carrusel from '../components/Carrusel.astro';
import Servicios from '../components/Servicios.astro';
import Nosotros from '../components/Nosotros.astro';
---
<MainLayout>
  <Hero />
  <Carrusel />
  <Servicios />
  <Nosotros />
  <section id="contacto">
    <div class="container">
      <h2>Contácfgfgtanos</h2>
      <p>Déjanos un mensaje y te responderemos pronto.</p>
      <!-- Aquí puedes poner un formulario simple si lo deseas -->
    </div>
  </section>

  <Footer />
</MainLayout>
